body, html {
    height: 100%;
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

.main-content {
    padding: 65px 15px 0px 15px;
    line-height: 1.3;
}

.main-content p, .main-content h5 {
    margin-bottom: 0.5rem;
}

.navigation-link {
    font-size: 300%;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666666;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dotted {
    border: 1px dotted #000000;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
    margin-top: 35px;
}

/* background light */
.background-light, .background-light .navbar {
    background: #D3E5EA;
}

.background-light .nav-link {
    color: rgba(255, 255, 255, 0.75);
    /*color: #B5B5B5;*/
}

.background-light .nav-link.active {
    color: #fff;
    /*color: #666666;*/
}

.background-light .nav-link:hover, .background-light .nav-link:focus {
    color: #fff;
    /*color: #9E9E9E;*/
}

/* background dark */
.background-dark, .background-dark .navbar {
    background: #5798AC;
}

.background-dark .loader, .background-dark .lds-roller div:after {
    color: #FFFFFF;
}

.background-dark .lds-roller div:after {
    background: #FFFFFF;
}

.background-dark .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.background-dark .nav-link.active {
    color: #fff;
}

.background-dark .nav-link:hover, .background-dark .nav-link:focus {
    color: #fff;
}

.lang, .lang .btn {
    color: rgba(255, 255, 255, 0.75);
}

.lang .btn {
    padding: 0px;
    margin: 10px;
    background: none;
}

.lang .btn.active {
    color: #fff;
}

.lang .btn:hover, .background-dark .btn:focus {
    color: #fff;
}

/* background lib */
.background-lib, .background-lib .navbar {
    background: #C8C8E2;
}

/*.background-lib .loader, .background-lib .lds-roller div:after {
    color: #FFFFFF;
}

.background-lib .lds-roller div:after {
    background: #FFFFFF;
}*/

.background-lib .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.background-lib .nav-link.active {
    color: #fff;
}

.background-lib .nav-link:hover, .background-lib .nav-link:focus {
    color: #fff;
}


.color-dark {
    color: #5798AC;
}

.contentContainer {
    padding-top: 60px;
    line-height: 1.3;
}

.react-print {
    display: none;
}

@media print {
    .react-no-print {
        display: none;
    }

    .react-print {
        display: block;
    }

    .background-light, .background-dark {
        background: none;
    }

    .contentContainer {
        padding: 0;
        display: block;
        line-height: normal;
    }

    body {
        -webkit-print-color-adjust: exact;
    }
    
    @page {
        margin: 1cm 0;
    }

    .btn-floating-container {
        display: none;
    }

    .card {
        display: block;
        page-break-inside: avoid;
    }

    .col-md-6 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .main-content {
        line-height: normal;
    }

    .main-content p, .main-content h5 {
        margin-bottom: 0;
    }
}

.competency-as-button:hover {
    background: rgba(0, 0, 0, 0.03)
}

.btn-floating-container {
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.btn-floating-container .btn {
    margin: 3px;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: block;
}

.background-light .btn-floating-container .btn {
    background: #5798AC;
    color: #FFFFFF;
}

.background-dark .btn-floating-container .btn {
    background: #D3E5EA;
    color: #000000;
}

.flip {
    -webkit-perspective: 800px;
    perspective: 800px;
}

.flip.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip.card.flipped .back {
    visibility: visible;
}

.flip.card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
}

.flip.card .face {
    -webkit-backface-visibility: hidden;
    /*backface-visibility: hidden;*/
    z-index: 2;
}

.flip.card .front {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.flip.card .back {
    color: #FFFFFF;
    visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    height: 20px;
    width: 20px;
    margin: auto;
    /*top: 50%;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #5798AC;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #5798AC;
    opacity: 0.7;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #5798AC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.react-no-print .checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

/* Show the checkmark when checked */
.react-no-print .check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.react-no-print .check-container .checkmark:after {
    left: 2px;
    top: 0px;
    width: 10px;
    height: 9px;
    border: solid white;
    border-width: 0 0 3px 0;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.form-inline .form-loader {
    position: relative;
    width: 32px;
    height: 32px;
}
.form-loader .lds-roller {
    transform: scale(0.7);
    margin-top: -16px;
}

.form-loader .lds-roller div:after {
    background: #000000;
}


.height-100 {
    min-height: 100%;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .navigation-link {
        font-size: 150%;
    }

    .height-sm-33 {
        min-height: 33%;
        min-height: 33vh;
    }
}