/*.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}*/

/*@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
}*/

/*@media (min-width: 768px) {
    .sidebar-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .sidebar-nav .navbar {
        top: 0px;
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
        font-size: 15px;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}*/

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    align-items: center;
}

.bg-dark .navigation-link {
    color: rgba(255, 255, 255, 0.5);
}

.bg-dark .navigation-link:hover, .bg-dark .navigation-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.bg-light .navigation-link {
    color: rgba(0, 0, 0, 0.5);
}

.bg-light .navigation-link:hover, .bg-light .navigation-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.contentContainer {
    padding-top: 75px;
}

@media (max-width: 767px) {
    .contentContainer {
        width: auto;
    }
}

@media (min-width: 767px) {
    .contentContainer {
        width: 767px;
    }
}

#react-print {
    display: none;
}

@media print {
    #react-no-print {
        display: none;
    }

    #react-print {
        display: block;
    }
}
