.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666666;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.background-light {
    background: #D3E5EA;
    color: #666666;
}

.background-light .nav-link {
    color: #B5B5B5;
}

.background-light .nav-link.active {
    color: #666666;
}

.background-light .nav-link:hover, .background-light .nav-link:focus {
    color: #9E9E9E;
}

.background-dark {
    background: #5798AC;
    color: #FFFFFF;
}

.color-dark {
    color: #5798AC;
}

.bg-dark .navigation-link {
    color: rgba(255, 255, 255, 0.5);
}

.bg-dark .navigation-link:hover, .bg-dark .navigation-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.bg-light .navigation-link {
    color: rgba(0, 0, 0, 0.5);
}

.bg-light .navigation-link:hover, .bg-light .navigation-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.contentContainer {
    padding-top: 72px;
}

.height-100 {
    min-height: 100%;
    min-height: 100vh;
}

#react-print {
    display: none;
}

@media print {
    #react-no-print {
        display: none;
    }

    #react-print {
        display: block;
    }
}

@page {
    size: auto;
}


.evaluations {
    position: fixed;
    background: #fff;
    z-index: 10;
    width: 100%;
}

.btn-floating-container {
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.btn-floating-container .btn {
    margin: 3px;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: block;
}

.flip {
    -webkit-perspective: 800px;
    perspective: 800px;
}

.flip.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip.card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
}

.flip.card .face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

.flip.card .front {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.flip.card .back {
    color: #FFFFFF;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    height: 20px;
    width: 20px;
    margin: auto;
    top: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #5798AC;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #5798AC;
    opacity: 0.7;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #5798AC;
}

/* Create the checkmark/indicator (hidden when not checked) */
/*.checkmark:after {
    content: "";
    display: none;
}*/

/* Show the checkmark when checked */
/*.check-container input:checked ~ .checkmark:after {
    display: block;
}*/

/* Style the checkmark/indicator */
/*.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

/*.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}*/

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}